.profile-layout{
    -fx-background-color: #EBC95E;
    -fx-background-radius: 0 0 50 50;
}
.button_edit{
    -fx-background-color: #EBC95E;
    -fx-background-radius: 50;
}
.button_edit:hover{
    -fx-background-color: #16a34c;
    -fx-background-radius: 50;
}
.white_background{
    -fx-background-color: #fff;
}
.transparent{
    -fx-background-color: rgba(0, 0, 0, 0);

}
