.close-btn{
    -fx-background-color: #4ebc6f;
    -fx-cursor: hand;
}
.close-btn:hover{
    -fx-background-color:#1ed251;
}
.minimize-btn{
    -fx-background-color: #cc399e;
    -fx-cursor: hand;
}
.minimize-btn:hover{
    -fx-background-color: #cc61ac;
}
.bars{
    -fx-background-color: transparent;
    -fx-background-radius:5px;
    -fx-cursor: hand;
}
.bars:hover{
    -fx-background-color: #d6d6d6;
}
.nav-form{
    -fx-background-color:linear-gradient(to bottom right, #252d50, #324f6b);
}
.edit-btn{
    -fx-background-color: transparent;
    -fx-cursor: hand;
}
.edit-label{
    -fx-background-color: transparent;
    -fx-font-family:"Segoe UI Black";
    -fx-text-fill: #fff;
    -fx-font-size: 40px;
}
.edit-label1{
    -fx-background-color: transparent;
    -fx-font-family:"Microsoft Sans Serif";
    -fx-text-fill: #fff;
    -fx-font-size: 20px;
    -fx-text-fill: #000;
}
.nav-btn{
    -fx-background-color:linear-gradient(to bottom right, #344275, #3a6389);
    -fx-background-radius:5px;
    -fx-cursor:hand;
    -fx-text-fill:#fff;
    -fx-font-family:"Microsoft Sans Serif";
    -fx-font-size: 15px;
}
.nav-btn:hover{
    -fx-background-color:linear-gradient(to bottom right, #46589a, #4278a7);
    -fx-background-radius:5px;
}
.logout-btn{
    -fx-background-color:#366d9d;
    -fx-background-radius:10px;
    -fx-cursor:hand;
}
.logout-btn:hover{
    -fx-font-size:20px;
    -fx-background-color: red;
    -fx-background-radius:10px;
}

.text-fild{
    -fx-background-color:#fff;
}
.card-form{
    -fx-background-color:#f8f8f8;
    -fx-border-color:#454368;
    -fx-border-radius:10px;
    -fx-background-radius:10px;
}
.image-card{
    -fx-background-color:#fff;
    -fx-border-color:#000;
}
.save-btn{
    -fx-background-color:#558e74;
    -fx-background-radius:15px;
    -fx-font-size:15px;
    -fx-cursor:hand;
    -fx-text-fill:#fff;
}
.save-btn:hover{
    -fx-background-color:#66e29e;
}
.take-btn{
    -fx-background-color:#914f96;
    -fx-background-radius:15px;
    -fx-font-size:15px;
    -fx-cursor:hand;
    -fx-text-fill:#fff;
}
.take-btn:hover{
    -fx-background-color:#b356bb;
}
.find_btn{
    -fx-background-color:#b31b1b;
    -fx-background-radius:5px;
    -fx-font-size:15px;
    -fx-cursor:hand;
    -fx-text-fill:#fff;
}
.find_btn:hover{
    -fx-background-color:#ed5c5c;
}
.mainCenter{
    -fx-background-color: #fff;
    -fx-border-color: #000;
    -fx-font-size: 20px;
}
.textFilled_take{
    -fx-background-color: #fff;
    -fx-border-color: #000;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-width:.4px;
    -fx-font-size: 19px;
}
.textFilled_take{
    -fx-border-width.8px;
}
.label1_take{
    -fx-background-color: #fff;
    -fx-padding: 0px 0px 0px 15px;
    -fx-font-size: 19px;
    -fx-border-color: #0000;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}

.textField{
    -fx-background-color: transparent;
    -fx-text-inner-color: #fff;
    -fx-border-color: #fff;
    -fx-border-width: 0px 0px .2px 0px;
    -fx-font-size: 15px;
}
.textField:focused{
    -fx-border-width: 0px 0px .8px 0px;
}
.iconBookInfor{
    -fx-background-color: #1e966e;
    -fx-cursor:hand;
}
.iconBookInfor:hover{
    -fx-background-color: #56c59e;
}